{% extends 'main.html' %}
{% block content %}
    <!-- Messages Start -->
    <div class="breadcrumb-wrap">
                    {% if messages %}
                    {% for message in messages %}
        <div class="container-fluid">
            <ul class="breadcrumb">
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}

        </div>
    </div>
    <!-- Messages End -->
            <!-- Login Start -->
            <div class="login">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="register-form">
                                <div class="row">
                                    <form action="" , method="POST">
                                        {% csrf_token %}
                                        {% for field in form %}
                                        <div class="col-md-12">
                                            <label>{{ field.label }}</label>
                                            {{ field }}
                                        </div>
                                        {% endfor %}
                                        <div class="col-md-12">
                                            <button class="btn">Submit</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Login End -->

     
        <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
        
{% endblock content %}
