{% extends 'main.html' %}
{% block content %}
<!-- Messages Start -->
<div class="breadcrumb-wrap">
    <div class="container-fluid">
        {% if messages %}
        {% for message in messages %}
        <ul class="breadcrumb">
            <li >{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% if form.errors %}
        {% for field in form %}
        {% for error in field.errors %}
        <div class="col-md-12">
        
            --{{error}}
        
        </div>
        {% endfor %}
        {% endfor %}
        {% endif %}
    </div>
</div>
<!-- Messages End -->

<!-- Signup Start -->
<div class="login">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="register-form">
                    <div class="row">
                        <form action="" , method="POST">
                            {% csrf_token %}
                            {% for field in form %}
                            <div class="col-md-12">
                            <label>{{ field.label }}</label>
                            {{ field }}
                            </div>
                            {% endfor %}
                            <div class="col-md-12">
                                <button class="btn">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div></div></div>
<!-- Signup End -->
<!-- Back to Top -->
<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
{% endblock content %}